<div class="app-fullpage">
  <md-toolbar color="primary" class="app-toolbar">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <div class="title" i18n="App title">Angular Translator</div>
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened (click)="onSidenavClicked()">
      <div class="app-belowtoolbar">
        <app-frame-sidenav></app-frame-sidenav>
      </div>
    </md-sidenav>
    <div class="app-belowtoolbar">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
