<div class="main">
  <md-card>
    <md-card-header>
      <md-card-title>Philippe MARTIN</md-card-title>
      <md-card-subtitle>AngularAttack 2017</md-card-subtitle>
      <img md-card-avatar src="assets/photo.png">
    </md-card-header>

    <md-card-content>
      <md-nav-list>
        <md-list-item><a target="_blank" href="https://github.com/Hackbit/angularattack2017-feloy">Sources on GitHub</a></md-list-item>
        <md-list-item><a href="mailto:contact@elol.fr">contact@elol.fr</a></md-list-item>
      </md-nav-list>
    </md-card-content>

  </md-card>
</div>