<md-toolbar>{{project.name}}
  <span class="app-fill-remaining-space"></span>
  <button (click)="onReload()" md-icon-button i18n-title="Title on Reload source icon" title="Reload source"><md-icon>autorenew</md-icon></button>
  <button md-icon-button i18n-title="Title on Export icon" title="Export current translation" [disabled]="!translation" [mdMenuTriggerFor]="exportMenu"><md-icon>file_download</md-icon></button>
  <button style="opacity: 0.87"  (click)="onEdit()" md-icon-button i18n-title="Title on Edit project icon" title="Edit project settings"><md-icon>settings</md-icon></button>
  <md-menu #exportMenu="mdMenu">
    <button md-menu-item (click)="exportAs('xmb')" i18n="Menu entry to export translation as XMB">Export as XMB</button>
    <button md-menu-item (click)="exportAs('xlf')" i18n="Menu entry to export translation as XLIFF">Export as Xliff</button>
  </md-menu>
</md-toolbar>

<app-progression *ngIf="progression != null" [details]="progression" (close)="progression = null"></app-progression>
  
<div class="main">

  <div class="header">
    <div class="info">
      <div>{{project.repo}}</div>
      <span *ngIf="source" i18n="number of messages to translate">{source.msgs.length, plural, =0 {no message} =1 {1 message} other {{{source.msgs.length}} messages}}</span>
      <span *ngIf="source && translation" i18n="number of messages translated">, {countTranslated, plural, =0 {0 translated} =1 {1 translated} other {{{countTranslated}} translated}}</span>
    </div>

    <div class="select" [ngClass]="{'right': translation, 'left': !translation}">
      <span *ngIf="!translation" i18n="label to pick a translation in a select">Select a translation: </span>
      <md-select *ngIf="source" i18n-placeholder="placeholder on select translation" placeholder="translation" floatPlaceholder="never" (change)="onTranslationChanged($event.value)">
        <md-option *ngFor="let translation of project.translations" [value]="translation">{{translation}}</md-option>
      </md-select>
    </div>
  </div>

  <router-outlet></router-outlet>

  <md-slide-toggle class="untrans" *ngIf="translation" color="primary" i18n="label for slide toggle" [(ngModel)]="untranslatedOnlyToggle">Untranslated only</md-slide-toggle>

  <app-source-msgs-list *ngIf="source && translation" [source]="source" [translation]="translation"
    [untranslatedOnly]="untranslatedOnlyToggle" [projectId]="project.id"></app-source-msgs-list>
</div>