.main { padding: 16px; }
h2 { margin: 0 0 8px 0; }
.info { font-size: small; }
.select.right { text-align: right; }

.header { display: flex; padding-bottom: 16px; }
.info { flex-grow: 1; }
.select { flex-grow: 0; }

.untrans { margin-top: 16px; }

.pointer { cursor: pointer; }