<md-toolbar>{{project.name}}
  <span class="app-fill-remaining-space"></span>
  <button (click)="onReload()" md-icon-button title="Reload source"><md-icon>autorenew</md-icon></button>

</md-toolbar>
<div class="main">
  <div class="info">
    repo: {{project.repo}}<br> i18n dir: {{project.i18ndir}}<br> source file: {{project.source}}<br> translations: {{project.translations}}
    <div *ngIf="source">
      {{source.msgs.length}} messages
    </div>
  </div>

  <app-progression *ngIf="progression != null" [details]="progression" (close)="progression = null"></app-progression>

  <div [ngClass]="{'right': translation}">
    <span *ngIf="!translation">Select a translation: </span>
    <md-select *ngIf="source" placeholder="translation" floatPlaceholder="never" (change)="onTranslationChanged($event.value)">
      <md-option *ngFor="let translation of project.translations" [value]="translation">{{translation}}</md-option>
    </md-select>
  </div>

  <router-outlet></router-outlet>

  <app-source-msgs-list *ngIf="source && translation" (selected)="onMsgClicked($event)" [source]="source" [translation]="translation"></app-source-msgs-list>
</div>