<md-toolbar *ngIf="!project" i18n="Title of form used to create a new project">Create new project</md-toolbar>
<md-toolbar *ngIf="project" i18n="Title of form used to create a new project">{{project.name}}</md-toolbar>

<div class="main">
  <form [formGroup]="form">
    <md-input-container>
      <input mdInput i18n-placeholder="name of new project" placeholder="name" formControlName="name">
    </md-input-container>
    <md-input-container>
      <input mdInput i18n-placeholder="icon of new project" placeholder="icon" formControlName="icon">
    </md-input-container>
    <md-input-container>
      <input mdInput i18n-placeholder="github repo of new project" placeholder="github repo" formControlName="repo">
    </md-input-container>
    <md-input-container>
      <input mdInput i18n-placeholder="i18n directory of new project" placeholder="i18n directory" formControlName="i18ndir">
    </md-input-container>
    <md-input-container>
      <input mdInput i18n-placeholder="source file name of new project" placeholder="source file name" formControlName="source">
    </md-input-container>
    <md-input-container>
      <textarea mdInput mdTextareaAutosize placeholder="translations files names" formControlName="translations"></textarea>
    </md-input-container>
    <div class="buttons">
      <button type="button" md-button color="warn" (click)="onDelete()" i18n="button to delete project">Delete</button>
      <button type="button" md-button (click)="onCancel()" i18n="button to cancel form edition">Cancel</button>
      <button *ngIf="!project" type="submit" md-raised-button color="primary" (click)="onAdd()" [disabled]="!form.valid" i18n="button to create new project">Add</button>
      <button *ngIf="project" type="submit" md-raised-button color="primary" (click)="onSave()" [disabled]="!form.valid" i18n="button to save existing project">Save</button>
    </div>
  </form>
</div>