<md-toolbar>Create new project</md-toolbar>

<div class="main">
  <form [formGroup]="form">
    <md-input-container>
      <input mdInput placeholder="name" formControlName="name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="icon" formControlName="icon">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="github repo" formControlName="repo">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="i18n directory" formControlName="i18ndir">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="source file name" formControlName="source">
    </md-input-container>
    <md-input-container>
      <textarea mdInput mdTextareaAutosize placeholder="translations files names" formControlName="translations"></textarea>
    </md-input-container>
    <div class="buttons">
      <button md-button (click)="onCancel()">Cancel</button>
      <button md-raised-button color="primary" (click)="onAdd()" [disabled]="!form.valid || form.pristine">Add</button>
    </div>
  </form>
</div>