<div class="main">
<p><strong>Angular Translator</strong> helps you translating your Angular application.</p>

<p>Translation applications like this one are generally not specialized for a specific framework.</p>

<p>This application prefers to specialize in the translation of Angular applications only, so it can integrate perfectly with
  the framework.</p>

<h2>How it works</h2>

<p>The <var>ng-xi18n</var> Angular tool is responsible for extracting from the app sources the terms to translate. This tool creates a <var>messages.xmb</var> (or <var>messages.xlf</var>) file containing all the necessary information for the human translator to do his job.</p>

<p><strong>Angular Translator</strong> gets this <var>messages.xmb</var> file and uses it at the reference for the terms that have to be translated. It is called the <em>source file</em> in the app.</p>

<p>In <strong>Angular Translator</strong>, you then have to declare the different file names where the different translations for specific languages will be stored. When you begin, you do not need to create these translation files, the app will do that for you. They all called the <em>translations files</em> in the app.</p>

<p>When you have finished translating for a specific language, you can export the translation file for this language and place it beside your source file in your sources repository. If you decide to work again on the translations for this same language, the translations you have made earlier will be extracted from this translation file.</p>

<p>When you update your app and add or remove terms to translate and regenerate the <var>messages.xmb</var> source file with <var>ng-xi18n</var>, you do not need to merge the differences to your translation files. Because <strong>Angular Translator</strong> gets the <em>source file</em> as the reference, it will handle correclty the terms removed or added.</p>

<h2>Usage</h2>

<p>First declare a new project in the application, with <var>New Project...</var> in the sidenav. You will have to declare some information for this new project:</p>

<ul>
<li><strong>name</strong>: a name that will appear in the sidenav - be clear and concise,
<li><strong>icon</strong>: a name of a Material icon - select one here: https://material.io/icons/,
<li><strong>github repo</strong>: the github repository where the app will get the files, for example <var>Hackbit/angularattack2017-feloy</var> for translating this app,
<li><strong>i18n directory</strong>: the directory inside the repository where source and translations files are placed, <var>src/i18n</var>generally,
<li><strong>source file name</strong>: the name of the source file, <var>messages.xmb</var> or <var>messages.xlf</var>generally,
<li><strong>translations files names</strong>: the names of the translations files you want to create, one for each language you want to translate your app in - they do not need to exist in the repository.
</ul>

Once your project created, the app will load the contents of the <em>source file</em> and extract the terms to translate.

You then have to choose one language you want to work with, based on the list of files you have declared as translations files, using the select listing the different translations files names.

If the translation file exists in the repository, the app loads it and extracts the translations already done. 

You can now begin to translate the different terms.

When you are done, you can use the <var>Extract</var> button on the upper-right corner to extract the translations in the current language in a local file. You can now commit this file in your repository.
</div>
