md-card { margin: 0;}

.taflex { display: flex; }
.taflex > textarea { margin: 8px; padding: 4px; flex-grow: 1; font-size: 20px; }

.buttons { text-align: right; }
.infos { margin: 0 16px; }
.locations { margin: 16px 0; }
.locations > div > .title { font-weight: bold; }
.locations > .location { margin: 8px 0; }
