<md-card *ngIf="trMsg !== null && srcMsg !== null">
  <md-card-subtitle i18n="card subtitle explaining how to quickly translate">Press ctrl-enter to save &amp; go to next untranslated message</md-card-subtitle>
  <md-card-content>
    <form [formGroup]="form">
      <div class="taflex">
        <textarea readonly formControlName="src"></textarea>
        <textarea formControlName="tr" (keyup.control.enter)="onSave()"></textarea>
      </div>

      <div class="infos">
        <div *ngIf="srcMsg.meaning"><span i18n="short label before term meaning">meaning: </span>{{srcMsg.meaning}}</div>
        <div *ngIf="srcMsg.desc"><span i18n="short label before term description">description: </span>{{srcMsg.desc}}</div>

        <div *ngIf="srcMsg.locations.length" class="locations">
          <div class="title" i18n="short label before term locations list">Locations:</div>
          <div *ngFor="let location of srcMsg.locations" class="location">{{location.sourcefile}}:{{location.linenumber}}</div>
        </div>
      </div>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button (click)="onCancel()" *ngIf="!form.pristine" i18n="button to cancel form edition">Cancel</button>
    <button md-raised-button color="primary" (click)="onSave()" [disabled]="form.pristine" i18n="button to save translation">Save &amp; Next</button>
  </md-card-actions>
</md-card>