<md-card *ngIf="trMsg !== null && srcMsg !== null">
  <md-card-subtitle i18n="card subtitle explaining how to quickly translate">Press ctrl-enter to save &amp; go to next untranslated message</md-card-subtitle>
  <md-card-content>

    <div *ngIf="srcMsg.icu !== null">
      <md-slide-toggle color="primary" i18n="label for slide toggle for icu builder" [(ngModel)]="icuBuilder">ICU Builder (prototype)</md-slide-toggle>
    </div>

    <form [formGroup]="form">

      <div class="taflex" *ngIf="srcMsg.icu === null || !icuBuilder">
        <textarea readonly formControlName="src"></textarea>
        <textarea formControlName="tr" (keyup.control.enter)="onControlEnter()"></textarea>
      </div>
      <div *ngIf="icuBuilder && srcMsg.icu !== null && srcMsg.icu.type === 'plural'">
        <app-plural-editor [content]="srcMsg.icu"></app-plural-editor>
        <app-plural-editor [content]="trMsg.icu"></app-plural-editor>
      </div>
      <div *ngIf="icuBuilder && srcMsg.icu !== null && srcMsg.icu.type === 'select'">
        <app-select-editor [content]="srcMsg.icu"></app-select-editor>
        <app-select-editor [content]="trMsg.icu"></app-select-editor>
      </div>

      <div class="infos">
        <div *ngIf="srcMsg.meaning"><span i18n="short label before term meaning">meaning: </span>{{srcMsg.meaning}}</div>
        <div *ngIf="srcMsg.desc"><span i18n="short label before term description">description: </span>{{srcMsg.desc}}</div>

        <div *ngIf="srcMsg.locations.length" class="locations">
          <div>
            <span class="title" i18n="short label before term locations list">Locations:</span>
            <md-slide-toggle color="primary" i18n="label for slide toggle for locations details" [(ngModel)]="locationsDetails" [ngModelOptions]="{standalone: true}">view details</md-slide-toggle>
          </div>
          <ng-template [ngIf]="!locationsDetails">
            <div *ngFor="let location of srcMsg.locations" class="location">{{location.sourcefile}}:{{location.linenumber}}</div>
          </ng-template>
          <ng-template [ngIf]="locationsDetails">
            <app-location-details *ngFor="let location of srcMsg.locations" [projectId]="projectId" [location]="location"></app-location-details>
          </ng-template>
        </div>
      </div>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button (click)="onCancel()" *ngIf="!form.pristine" i18n="button to cancel form edition">Cancel</button>
    <button md-raised-button color="primary" (click)="onSave()" [disabled]="form.pristine" i18n="button to save translation">Save &amp; Next</button>
  </md-card-actions>
</md-card>