md-card { margin: 16px 0;}
.taflex { display: flex; }
.taflex > textarea { margin: 8px; padding: 4px; flex-grow: 1; font-size: 20px; }
md-input-container > textarea { height: 100%; }
.buttons { text-align: right; }
.infos { margin: 0 16px; }
.locations { margin: 16px 0; }
.locations > .title { font-weight: bold; }
.locations > .location { margin: 8px 0; }
